@using ContosoUniversity.ViewModels
@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>
@{
    ViewBag.Title = "Statistics";
    EnrollmentDateGroup emptyModel = new EnrollmentDateGroup();
}
<h2>Student Body Statistics</h2>

<table class="table table-bordered table-striped table-hover mt-2">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(_ => emptyModel.EnrollmentDate)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(_ => emptyModel.StudentCount)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.EnrollmentDate)
        </td>
        <td class="text-center">
            @item.StudentCount
        </td>
    </tr>
}
</table>
